@media screen and (min-device-width: 320px){
    .__calendar{
        font-size: 10px;
    }
    .__calendar .marks_bar_box{
        font-size: 8px;
    }
}
@media screen and (min-device-width: 360px){
    .__calendar{
        font-size: 12px;
    }
    .__calendar .marks_bar_box{
        font-size: 8px;
    }
}
@media screen and (min-device-width: 375px){
    .__calendar{
        font-size: 14px;
    }
    .__calendar .marks_bar_box{
        font-size: 10px;
    }
}
@media screen and (min-device-width: 414px){
    .__calendar{
        font-size: 16px;
    }
    .__calendar .marks_bar_box{
        font-size: 10px;
    }
}
@media screen and (min-device-width: 768px){
    .__calendar{
        font-size: 24px;
    }
    .__calendar .marks_bar_box{
        font-size: 20px;
    }
}
.__calendar {
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 5px;
    color: #3d3d3d;
    font-family: sans-serif,Helvetica;
}
.__calendar ul,li{
    list-style: none;
    padding: 0;
    margin: 0
}
.__calendar .toggleBar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image:  linear-gradient(to bottom right,#fecc44, #ffaa39);
}
.__calendar .toggleBar .pre,.next{
    flex: 1;
    background-repeat: no-repeat;
    background-size: 0.6em;
    background-position: 50% 50%;
    height: 100%;
}
.__calendar .toggleBar .pre{
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAYAAAD0OH0aAAABAUlEQVQ4jY3TL0gEQRSA8aeCwSIGi1wwXJMrmsRmFJNVMQpGo8FqFMw2QcwWwSBWi0Uwnahg8E8yaBDEn8Fb9nHc7u2DgdmZ75t9vJkXiAZjA2+YbwKv4cd/PA2DV/Ddg3+xWQcv4yvBW4gqeBGfytgp9gbBC/hI8F7e74c7eE/wfv+B+aONlwQfDkq3mMziOcFHGKkSWugm+ARjVdUL3CX4vA5GjEbEVZTRiYiZqIveiafpL11M16UUGMdFkm4wWScEJnCdpMveWqUQmMJtks76izAozxbuk3Qs3UlV+dp4TdLBMKF4V/kR7g4TAkvKnoDtJi26quy6xyZCYB0PmPsDryc4k1ptsAoAAAAASUVORK5CYII=');
}
.__calendar .toggleBar .next{
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAYAAAD0OH0aAAAA/0lEQVQ4jY3TIUuEQRDG8T2FCxaTYBCDFstZDDajGK1azGajwQ9gE7vFYrSZxGA1aBIOFDkwGNRy4RD8GW4XB3nvXR9Y2F2e/+zOzG7CGl6xg1QbCS/G+sL2f4A9fGdohM0akLAfoCE2akDCgV99Yr0GJBwF6B2rNSDhOEBvWKkBHZwGaIDlNqBAZwF6wkIbkDCNiwA9Yq7W2S6uAnQ3ldq1mFLqhfV1W/R59EP0c3QmmWfxEMyXOafGpGdwG8w3ea+xrN0creg+n9bYuE6+Z1Efc39vEBcnwTzAUlN+ZXIYzB/oTape+QtFQxOedQSes3mErTZzAXrGj2u3Zkb6AVhkOFucjNUHAAAAAElFTkSuQmCC');
}
.__calendar .toggleBar .mid{
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #fff;
}
.__calendar .toggleBar .cur_date_days{
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.__calendar .toggleBar .cur_date_days .cur_date{
   font-size: 2em;
   height: 40%;
   font-weight: 800;
   display: flex;
   align-items: center;
}
.__calendar .toggleBar .cur_date_days .cur_days{
    height: 20%;
    display: flex;
    align-items: center;
}
.__calendar .week_tit{
    display: flex;
    text-align: center;
    background-color: #fafafa;
}
.__calendar .week_item{
    display: flex;
    text-align: center;
}
.__calendar .day_item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.__calendar .day_item .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
}
.__calendar .first-day-item,.end-day-item{
    color: #b7b7b7
}
.__calendar .cur-day-item{
    background-repeat: no-repeat;
    background-size: cover;
    
}
.__calendar .active-cur-day-item{
    background-color: #f1f1f1;
}
.__calendar .marks_bar_box{
    height: 5em;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 2em;
}
.__calendar .marks_bar_item{
    margin-left: 1em;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.__calendar .marks_bar_item span{
    white-space: nowrap;
}
.__calendar .marks_bar_item .bar-icon{
    color: #b7b7b7;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    margin-right: 0.4em;
    background-repeat: no-repeat;
    background-size: cover;
}
.__calendar .__calendar_anmation_out {
    animation: moveOut 0.2s;
}
.__calendar .__calendar_anmation_in {
    animation: moveIn 0.2s;
}
@keyframes moveOut {
    100% {
        transform: translate(-100%,0);
    }
}
@keyframes moveIn {
    100% {
        transform: translate(100%,0);
    }
}


